# Minimizing Churn of Subscription Product Through Financial Habit Analysis

Market: The target audience is the entirety of a company's subscription base - who we want to keep
Product: The subscription products that customers are already enrolled in can provide value that users may not have imagined, or that they may have forgotten. 
Goal: The objective of this model is to predict which users are likely to churn, so that the company can focus on re-engaging these users with the product. 
- These efforts can be email reminders about the benefits of the product, especially focusing on features that are new tor that the user has shown to value. 

In this Case Study we're working for a fintech company that provides a subscription product to its users, which allows them to manage their bank accounts, provides them with personalized coupons, informs them of the latest low-APR loans, and educates them on best methods to save money. We are in charge of identifying users who are likely to cancel their subscription so that we can start building new features that they may be interested in.

Data
- Finance Data
- Product Finance Data

In [1]:
import pandas as pd

In [2]:
churn_data = pd.read_csv('./data/churn_data.csv')
churn_data.head()

,user,churn,age,housing,credit_score,deposits,withdrawal,purchases_partners,purchases,cc_taken,...,waiting_4_loan,cancelled_loan,received_loan,rejected_loan,zodiac_sign,left_for_two_month_plus,left_for_one_month,rewards_earned,reward_rate,is_referred
0,55409,0,37.0,na,NaN,0,0,0,0,0,...,0,0,0,0,Leo,1,0,NaN,0.00,0
1,23547,0,28.0,R,486.0,0,0,1,0,0,...,0,0,0,0,Leo,0,0,44.0,1.47,1
2,58313,0,35.0,R,561.0,47,2,86,47,0,...,0,0,0,0,Capricorn,1,0,65.0,2.17,0
3,8095,0,26.0,R,567.0,26,3,38,25,0,...,0,0,0,0,Capricorn,0,0,33.0,1.10,1
4,61353,1,27.0,na,NaN,0,0,2,0,0,...,0,0,0,0,Aries,1,0,1.0,0.03,0

In [3]:
new_churn_data = pd.read_csv('./data/new_churn_data.csv')
new_churn_data.head()

,userid,churn,age,rent_or_own,trivia_played,trivia_shared_results,trivia_view_unlocked,trivia_view_results,cards_share,cards_viewed,...,payfreq,loan_pending,withdrawn_application,paid_off_loan,did_not_accept_funding,zodiac_sign,un_linked_account,re_linked_account,cash_back_engagement,has_referred
0,0,1,22.0,na,0,0,0,0,0,48,...,Weekly,0,0,0,0,Taurus,0,0,0.57,0
1,7,1,25.0,R,0,0,5,0,0,5,...,Weekly,0,0,0,0,Gemini,0,0,0.07,0
2,8,1,32.0,na,0,0,0,0,0,49,...,Bi-Weekly,0,0,0,0,Virgo,0,0,0.60,1
3,18,1,26.0,na,0,0,169,0,0,184,...,na,0,0,0,0,Leo,0,0,1.77,1
4,19,1,28.0,R,0,0,11,0,0,65,...,na,0,0,0,0,Cancer,0,0,1.23,1